{% extends 'base.html.twig' %}

{% block title %}
    New serie
{% endblock %}

{% block body %}
    <h1 class="title">New serie</h1>

    <a href="{{ path('app_series') }}" class="btn btn-link mb">
        <i class="fa-solid fa-angle-left"></i> Back
    </a>

    <form action="{{ path('app_series_store') }}" method="post">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>

        <button class="btn btn-input mt">
            Create
        </button>
    </form>
{% endblock %}