{% extends 'base.html.twig' %}

{% block title %}
    Series
{% endblock %}

{% block stylesheets %}
    <style>
        .list-group {
            border-radius: 3px;
            border: 1px solid var(--secondary-light);
        }

        .list-group li {
            padding: 5px 10px;
        }

        .list-group li:not(:last-child) {
            border-bottom: 1px solid var(--secondary-light);
        }
    </style>
{% endblock %}

{% block body %}
    <h1 class="title">Series</h1>

    <a href="/series/create" class="btn btn-primary">
        new <i class="fa-solid fa-plus"></i>
    </a>

    <ul class="list-group">
        {% for series in seriesList %}
            <li>{{ series }}</li>
        {% endfor %}
    </ul>
{% endblock %}
