{% extends 'base.html.twig' %}

{% block title %}
    Series
{% endblock %}

{% block stylesheets %}
    <style>
        .list-group {
            border-radius: 3px;
            border: 1px solid var(--secondary-light);
        }

        .list-group li {
            width: 100%;
            padding: 10px;
            align-items: center;
            display: inline-flex;
            justify-content: space-between;
        }

        .list-group li:not(:last-child) {
            border-bottom: 1px solid var(--secondary-light);
        }
    </style>
{% endblock %}

{% block body %}
    <h1 class="title">Series</h1>

    <a href="/series/create" class="btn btn-link mb-3">
        new <i class="fa-solid fa-plus"></i>
    </a>

    <ul class="list-group">
        {% for series in seriesList %}
            <li>
                {{ series.name }}
                <div class="btn-group">
                    <a href="#" class="btn btn-link">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="#" class="btn btn-input">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
